<section style="background-color: #eee;" class="pt-5">
    <div class="container pt-5 py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{user.name}}</h5>


                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a class="" href="/orders">Orders</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="">Address</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="">Change Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ">
                <div class="card mb-6 ">
                    <div class="card-body pl-3">
                        <div class="col-lg-12">
                            <h3>Add Address
                            </h3>
                            <form class="row contact_form" action="/add-address" method="post" id="add-address">
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="fName" name="fName"
                                        onkeyup="validatefName()" placeholder="First name" />
                                    <p id="fnameerr" class="text-danger"></p>

                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="lName" name="lName"
                                        onkeyup="validatelName()" placeholder="Last name" />
                                    <p id="lnameerr" class="text-danger"></p>

                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="mob" name="number"
                                        onkeyup="validateMobile()" placeholder="Mobile number" />
                                    <p id="moberr" class="text-danger"></p>

                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="email" name="email"
                                        onkeyup="validateEmail()" placeholder="Email Address" />
                                    <p id="emailerr" class="text-danger"></p>

                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="add1" name="add1"
                                        onkeyup="validateAdd1()" placeholder="Address line 01" />
                                    <p id="add1err" class="text-danger"></p>

                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="add2" name="add2"
                                        onkeyup="validateAdd2()" placeholder="Address line 02" />
                                    <p id="add2err" class="text-danger"></p>

                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="city" name="city"
                                        onkeyup="validateTown()" placeholder="Town/City" />
                                    <p id="cityerr" class="text-danger"></p>

                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="district" name="district"
                                        onkeyup="validateDistrict()" placeholder="District" />
                                    <p id="districterr" class="text-danger"></p>

                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="state" name="state"
                                        onkeyup="validateState()" placeholder="State" />
                                    <p id="stateerr" class="text-danger"></p>

                                </div>

                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="zip" name="zip" onkeyup="validateZip()"
                                        placeholder="Postcode/ZIP" />
                                    <p id="ziperr" class="text-danger"></p>
                                </div>


                            </form>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-primary" form="add-address" type="submit"
                                onclick="return validation()">submit</button>

                        </div>
                    </div>

                </div>

                <div class="row">

                </div>
            </div>
        </div>
    </div>
</section>




<script>
    function validatefName() {
        const messg = document.getElementById("fnameerr")
        const con = document.getElementById("fName").value
        if (con == "") {
            messg.innerHTML = "| Fill The Fields"
            return false;
        }
        if (!con.match(/^[a-zA-Z-" "]*$/)) {
            messg.innerHTML = "| Only Alphabets Are Allowed"
            return false;
        }
        messg.innerHTML = ""
        return true;
    }
    function validatelName() {
        const messg = document.getElementById("lnameerr")
        const con = document.getElementById("lName").value
        if (con == "") {
            messg.innerHTML = "| Fill The Fields"
            return false;
        }
        if (!con.match(/^[a-zA-Z-" "]*$/)) {
            messg.innerHTML = "| Only Alphabets Are Allowed"
            return false;
        }
        messg.innerHTML = ""
        return true;
    }
    function validateMobile() {
        const messg = document.getElementById("moberr")
        const name = document.getElementById('mob').value
        if (name == "" || name == null) {
            messg.innerHTML = "Enter a mobile number"
            return false
        } else if
            (name.length < 10 || name.length > 10) {
            messg.innerHTML = "Enter a Valid Mobile number"
            return false
        }

        messg.innerHTML = null
        return true
    }
    function validateEmail() {
        const messg = document.getElementById("emailerr")
        const name = document.getElementById('email').value
        if (name == "") {
            errorEmail.innerHTML = "Enter you email address"
            return false


        } else if
            (!name.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
            messg.innerHTML = 'Enter a proper email adress'
            return false
        }

        messg.innerHTML = null
        return true
    }
    function validateAdd1() {
        const messg = document.getElementById("add1err")
        const con = document.getElementById("add1").value
        if (con == "") {
            messg.innerHTML = "| Fill The Fields"
            return false;
        }
        messg.innerHTML = ""
        return true;
    }
    function validateAdd2() {
        const messg = document.getElementById("add2err")
        const con = document.getElementById("add2").value
        if (con == "") {
            messg.innerHTML = "| Fill The Fields"
            return false;
        }
        messg.innerHTML = ""
        return true;
    }

    function validateTown() {
        const messg = document.getElementById("cityerr")
        const con = document.getElementById("city").value
        if (con == "") {
            messg.innerHTML = "| Fill The Fields"
            return false;
        }
        messg.innerHTML = ""
        return true;
    }
    function validateDistrict() {
        const messg = document.getElementById("districterr")
        const con = document.getElementById("district").value
        if (con == "") {
            messg.innerHTML = "Enter District"
            return false;
        }
        messg.innerHTML = ""
        return true;
    }
    function validateState() {
        const messg = document.getElementById("stateerr")
        const con = document.getElementById("state").value
        if (con == "") {
            messg.innerHTML = "Enter State"
            return false;
        }
        messg.innerHTML = ""
        return true;
    }

    function validateZip() {
        const messg = document.getElementById("ziperr")
        const name = document.getElementById('zip').value
        if (name == "" || name == null) {
            messg.innerHTML = "Enter Pincode"
            return false
        } else if
            (name.length < 6 || name.length > 6) {
            errorMobileNumber.innerHTML = "Enter a Valid Pincode"
            return false
        }

        messg.innerHTML = null
        return true
    }
    function validation() {
        if (!validatefName() || !validatelName() || !validateMobile() || !validateEmail() || !validateAdd1() || !validateAdd2() || !validateTown() || !validateDistrict() || !validateState() || !validateZip()) {
            return false;
        }
        return true;
    }


</script>