<section style="background-color: #eee;" class="pt-5">
    <div class="container pt-5 py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{user.name}}</h5>


                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a class="" href="/orders">Orders</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="/user-address">Address</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="/change-password">Change Password</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div id="error"></div>
                        <form action="" method="post" id="pass-change-form">
                            <div class="col-md-6">
                                <input type="password" class="form-control" placeholder="Current Password"
                                    name="currentPassword" id="password" onkeyup="validatePassword()">
                                    <p id="passwordEr" class="text-danger"></p>
                                <br>
                                <input type="password" class="form-control" placeholder="New Password"
                                    name="newPassword" id="nPassword" onkeyup="validatenPassword()">
                                    <p id="passwordErr" class="text-danger"></p>
                                <br>
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                    name="confirmPassword" id="cPassword" onkeyup="validatecPassword()">
                                    <p id="passwordErrr" class="text-danger"></p>
                                <br>
                                <button type="submit" class="btn btn-primary" onclick="return validation()">Change</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="row">

                </div>
            </div>
        </div>
    </div>
</section>


<script>
    

    var errorPassword = document.getElementById('passwordEr')
    var errornPassword = document.getElementById('passwordErr')
    var errorcPassword = document.getElementById('passwordErrr')
   
    
    function validatePassword() {
        let name = document.getElementById('password').value
        if (name == "") {
            errorPassword.innerHTML = "Enter a password"
            return false
        }
        if (name.length < 3) {
            errorPassword.innerHTML = "Password should be  three characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }
     function validatenPassword() {
        let name = document.getElementById('nPassword').value
        if (name == "") {
            errornPassword.innerHTML = "Enter a password"
            return false
        }
        if (name.length < 3) {
            errornPassword.innerHTML = "Password should be  three characters"
            return false
        }
        errornPassword.innerHTML = null
        return true
    }
     function validatecPassword() {
        let name = document.getElementById('cPassword').value
        let name2=document.getElementById('nPassword').value
        if (name == "") {
            errorcPassword.innerHTML = "Enter a password"
            return false
        }
        else if (name.length < 3) {
            errorcPassword.innerHTML = "Password should be  three characters"
            return false
        }else if(name!=name2){
              errorcPassword.innerHTML = ' Passwords don’t match.'
            return false
        }
        errorcPassword.innerHTML = null
        return true
    }
   


    function validation() {
        if ( !validatePassword()|| !validatenPassword()|| !validatecPassword) {
            return false
        }
        return true
    }
</script>



